<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Login and Registration</title>
</head>
<body>
    <style>
        .wrapper {
            margin-bottom: 100px;
        }
        .btn.btn-primary.single {
            background-color: lightskyblue !important; 
        }
    </style>
    <div class="wrapper container"></div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
                <h1 class="display-4">Success! Welcome, {{logged_user.first_name}}!</h1>
                <p>Successfully registered (or logged in)!</p>
                <a href="/logout">Logout</a>
        </div>
    </div>
          